
.site-header {
   /* background-color: #E91E63;*/
   background-image: radial-gradient(#F44336 25%, transparent 20%),
   radial-gradient(#E91E63 25%, transparent 20%);
   background-color: #E91E63;
   background-position: 0 0, 50px 50px;
   background-size: 10px 10px;
   animation-name: backgroundmovement;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   /* background: linear-gradient(90deg, #E91E63, #E91E63); */
 /*  linear-gradient(90deg,#efede8 1-px,transparent 0),linear-gradient(180deg,#faf4e6 1px,transparent 0)*/
    color: #ffaf2f;
    height: 100vh;
    font-family: 'VT323', monospace;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}


 /*creates movement of the background*/
  @keyframes backgroundmovement {
  0% {
      background-position: 0px 0px, 60px 60px;
    }
  100% {
       background-position: 60px 60px, 120px 120px;
    }
  }
  

.site-header-content{
    /* float: right; */
    text-align: center;
}

.title{
  display: flex;
}

.profile-pic{
    /* float: left; */
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center; 
    padding: 10px;
    
}

body {
    margin: 0;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
}
.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,55,244, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.topnav {
    background-color: #9716ad;
    /* overflow: hidden; */
    border-style: dotted;
    border-radius: 20px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #ffaf2f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #f19711;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #2926c5;
    color: #dad2c5;
  }  
  
