.site-header {
    background-color: #57888a;
    background-image: url('/Portfolio-course/Images/bgimage.jpg');
    background-size: cover;
    color: #e4ddd1;
    height: 100vh;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content{
    text-align: left;    
}

/*.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
}*/

.course-link{
    color: #e4ddd1;
}

body {
    margin: 0;
}
